body{  
    background-image: url(http://127.0.0.1:5500/descarga.jpeg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
} 
   
